<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emil.taskmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <meta-data
            android:name="DATABASE"
            android:value="task_manager.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.emil.taskmanager.entities" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskViewActivity"
            android:label="@string/title_activity_task_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateTaskActivity"
            android:label="@string/title_activity_task_create"
            android:parentActivityName=".activities.TaskViewActivity" />
        <activity
            android:name=".activities.ProfileViewActivity"
            android:label="@string/title_activity_profile_view"
            android:parentActivityName=".activities.TaskViewActivity" />

        <service
            android:name=".service.SynchronizerAsyncTask"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.TaskDetailsActivity"
            android:label="Details"
            android:parentActivityName=".activities.TaskViewActivity" />

        <receiver android:name=".broadcastReceivers.AlarmReceiver"></receiver>

    </application>

</manifest>
